body{
    background-color: green;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    color:aqua
}
p{
    color:burlywood
}
#img1{
    width: 700px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
#img2{
    width: 723px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}
#button1{
    background-color: aquamarine;
    color: blueviolet;
    border-radius: 5px;
}
#button2{
    background-color: green;
    color: burlywood;
    border-radius: 5px;
}
#button3{
    background-color: brown;
    color: wheat;
    border-radius: 5px;
}